$background-color: #ffffff;
$oswald-font: "Oswald", sans-serif;
$title-color: #4f4f4f;
$button-background: #4f4f4f;
$list-border: #9f9f9f;
$button-color: rgb(255, 255, 255);
$placeholder-color: #6d7972;
$list-text-color: grey;
$trash-icon-color: rgb(0, 0, 0);

body {
  background-color: $background-color;
}

.flex-container {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 420px;
}
.oswald {
  font-family: $oswald-font;
  font-size: 20px;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 20px;

  .title {
    color: $title-color;
    margin-top: 100px;
    font-size: 45px;
    margin-bottom: 1.5rem;
  }

  button {
    color: $button-color;
    background-color: $button-background;
    border-radius: 12px;
    margin-left: 16px;
    border-radius: 12px;
    width: 40px;
    height: 35px;
    border: none;
  }

  .plus-icon {
    display: flex;
    margin: auto;
  }

  input {
    width: 330px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    height: 30px;
    border: $background-color;

    ::placeholder {
      color: $placeholder-color;
      opacity: 1;
    }
  }

  .row-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    width: 100%;
  }
}
.line {
  border: 1px solid $title-color;
  margin-top: 6px;
}
.list {
  display: flex;
  font-size: large;
  text-align: center;
  align-items: center;
  background-color: $background-color;
  font-family: Arial, sans-serif;
  height: 50px;
  margin: 10px auto;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid $list-border;

  .completed {
    text-decoration: line-through;
    color: $list-text-color;
  }

  .checkbox {
    margin-right: 5px;
  }

  .checked-icon {
    color: gray;
  }

  .unchecked-icon {
    color: black;
  }

  .trashIcon {
    size: 10px;
    color: $trash-icon-color;
    margin-left: auto;
  }
}

.card {
  background-color: #ce8484;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
  justify-content: center;
  margin: 150px auto;
  height: 500px;
  width: 400px;
  position: absolute;
  left: 20px;
  right: 10px;

  .logins-input {
  height: 20px;
  width: 200px;
}

}

@media only screen and (max-width: 768px) {
  .container .title {
    font-size: 45px;
    width: 100%;
    max-width: 100vk;
  }
  #todo-input {
    width: 300px;
  }
  .list {
    width: 330px;
  }
}
